.education {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education p {
  margin-top: 14px;
  font-size: 26px;
}

.education .specialist {
  margin-top: 0;
  font-size: 20px;
}

.education a {
  color: antiquewhite;
  transition: all 0.5s;
}

.education a:hover {
  color: #f6ca95;
  text-decoration: underline;
  transition: all 0.5s;
}

.positionOval {
  top: 70px;
  right: 400px;
}

@media (max-width: 1030px) {
  .positionOval {
    left: 590px;
    right: auto;
  }
}

@media (max-width: 770px) {
  .education p {
    margin-top: 12px;
    font-size: 22px;
  }
  .education .specialist {
    font-size: 18px;
  }
  .positionOval {
    left: 500px;
  }
}

@media (max-width: 660px) {
  .education p {
    margin-top: 8px;
    font-size: 18px;
  }
  .education .specialist {
    font-size: 16px;
  }
  .positionOval {
    left: 500px;
  }
}
