.education {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education p {
  margin-top: 10px;
  font-size: 26px;
}

.education a {
  color: antiquewhite;
  transition: all 0.5s;
}

.education a:hover {
  color: #f6ca95;
  text-decoration: underline;
  transition: all 0.5s;
}

.positionOval {
  top: 70px;
  right: 400px;
}
