.cardContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  cursor: pointer;
  border: 1px solid #434343;
  border-radius: 5px;
  font-size: 26px;
}

.description {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 180px;
  z-index: 1;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

.cardContainer img {
  display: block;
  width: 398px;
  height: 200px;
  object-fit: contain;
  object-position: center center;
  display: block;
  transition: all 0.4s;
}

.imgContainer {
  width: 398px;
  border: 1px solid #434343;
  overflow: hidden;
}

.cardContainer .openDescription {
  transform: translateY(0);
  transition: all 0.4s;
}

.cardContainer:hover img {
  transform: scale(1.07);
  transition: all 0.5s;
}

.cardContainer h3,
.cardContainer h5,
.cardContainer p {
  padding: 4px 6px;
}

.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  gap: 10px;
  padding: 6px;
}

.skillsContainer li {
  padding: 4px 5px;
}

.linkContainer {
  margin-top: auto;
  display: flex;
  gap: 20px;
  padding: 6px;
  cursor: auto;
}
