.navigation {
  display: flex;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation ul {
  display: flex;
  gap: 10px;
  padding-left: 10px;
}

@media (max-width: 780px) {
  .navigation {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transform: translate(100%);
    justify-content: center;
  }
  .navigation ul {
    flex-direction: column;
    justify-content: space-around;
  }

  .active {
    transform: translate(0);
  }
}
