.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 5px;
  font-size: 26px;
  color: aliceblue;
  background-color: black;
}

.btnLang {
  min-width: 40px;
  min-height: 30px;
  border-radius: 8px;
  border: 1px solid #454545;
  background: #7a7a7a;
  color: aliceblue;
  cursor: pointer;
  box-shadow: 0 0 2px 3px #aaafb3;
  transition: 0.4s;
}

.btnLang:hover {
  background: #5d5d5d;
}

.btnLang:active {
  transform: scale(0.9);
  box-shadow: none;
}

@media (max-width: 450px) {
  .header {
    font-size: 18px;
  }

  .btnLang {
    min-width: 25px;
    min-height: 20px;
    font-size: 8px;
  }
}
